[submodule "stm32_workspace/STM32F407_TRANSMITTER/Drivers/DEV_ZULS"]
	path = stm32_workspace/STM32F407_TRANSMITTER/Drivers/DEV_ZULS
	url = git@github.com:mbeuler/DEV_ZULS.git
[submodule "stm32_workspace/STM32H743_RECEIVER/Drivers/DEV_ZULS"]
	path = stm32_workspace/STM32H743_RECEIVER/Drivers/DEV_ZULS
	url = git@github.com:mbeuler/DEV_ZULS.git
